.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B9BCBF;
    padding: 15px 40px;
    .logo {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }
    .social-wrapper {
        display: flex;
        .icon-wrapper {
            background-color: white;
            padding: 8px;
            border-radius: 50px;
            margin: 0px 10px;
            .icon-medsos {
                width: 25px;
                height: 25px;
                object-fit: contain;
            }
        }
    }
}

.copyright{
    background-color: #91979D;
    padding: 7px 0px;
    p {
        font-size: 14px;
        color: white;
        text-align: center;
        margin: 0px;
    }
}